<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div> -->
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Speakers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#venue">Venue</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schedule">Schedule</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#committee">Committee</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">IITB CSE Research Symposium</div>
                <h1>March 25-26, 2023
                    <br>IIT Bombay, Mumbai, India
                </h1>
                <br>
                <p style="text-align:left">
                    The Department of CSE at IITB is excited to organize a two-day research
                    symposium, taking place on March 25-26, 2023. The symposium will showcase
                    the cutting-edge research work that is being done at the Department of CSE.
                </p>
                <p style="text-align:left">
                    The event will also have invited talks by distinguished speakers on three
                    different tracks: Systems, AI/ML, and Theoretical CS. In addition to the
                    talks, we will also be hosting a poster session featuring the research work
                    done by our MS/PhD students. The symposium would provide an excellent
                    opportunity for participants to learn about the latest advancements in
                    computer science research and to also get a closer look at the research work
                    culture at CSE@IITB.
                </p>
                <p style="text-align:left">
                    Registration is open to pre-final and final year UG students and masters
                    students from computer science and related fields.
                </p>
                <p>
                    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeeUGn4L2wXs1NDoifJtJTNhikHPZyB5UsqVi1X1LDVnI4MHg/viewform?pli=1&authuser=0">Apply for Registration</a>
                </p>
            </div>
        </div>
    </header>