<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div> -->
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Speakers</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#venue">Venue</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schedule">Schedule</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#committee">Committee</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">CSE Research Symposium</div>
                <p>
                    The IITB CSE Research Symposium will be a two-day event (March 25 - 26,
                    2023) showcasing cutting-edge research done at the Department of CSE.
                    The event will also have talks by distinguished speakers from India on
                    three tracks: Systems, AI/ML, and Theoretical CS. The symposium will
                    feature a poster session featuring research done by MS/Ph.D. students
                    followed by a presentation session where a selected few will present
                    their research to the audience. This would provide a unique opportunity
                    for our students to interact with research scholars from other institutes
                    and various researchers.
                </p>
                <!-- <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a> -->
            </div>
        </div>
    </header>