<!-- Team Section -->
<section id="venue" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Venue</h2>
                <h3 class="section-subheading text-muted">F. C. Kohli Auditorium, IIT Bombay, Powai, Mumbai - 400076</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <div class="team-member">
                    <img src="img/venue.jpg" class="img-responsive img-circle" alt="" width="300">
                    <h4>F. C. Kohli Auditorium</h4>
                    <span class="fa-stack fa-4x">
                        <a href="https://goo.gl/maps/yEvcYdUy1yxQPLtN9">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                    <!-- <p class="text-muted"><a href="https://goo.gl/maps/yEvcYdUy1yxQPLtN9">Get Directions</a></p> -->
                </div>
            </div>
        </div>
    </div>
</section>